
.body {
    background-image: url(../images/download.jfif);
    margin-left: 110px;
    margin-right: 110px;
}

#start-screen, #passCount {
    height: 90%;
    width: 90%;
}

.row {
    margin-top: 25px;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
    max-width: 600px;
}

.hide {
    display: none;
  }

.halftiz {
    margin-top: 100px;
    max-width: 400px;
}

.immy {
    text-align: center;
    align-items: center;
    width: auto
}

.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/home.jpg)
    /* height: 100px; */
}

.teamDrop {
    display: flex;
    justify-content: space-around;
}

.timer {
    color: white;
    font-size: 30px;
    /* background-color: aliceblue; */
    
}
#pickTeams {
    /* display: flex; 
    justify-content: center; */
}

#start-screen {
    /* margin-top: 75px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.teams {
    color: white;
    font-size: 30px;   
    align-items: center;
    text-align: center; 
}

.mid {
    font-size: 15px;
}

.clubs {
    display: flex;
    flex-wrap: wrap;
    color: white;

}


